:root {
  --primary-color: #f7b633;
  --secondary-color: #fc4a1a;
  --tertiary-color: #ffa540;
  --info-color: #5398e9;
  --success-color: #2bbc5d;
  --title-color: #f8982c;
  --white-color: #fff;
  --purple-color: #be49e8;
  --text-color: #7c7c7c;
  --dark-gray-color: #3b3b3b;
  --white-yellow-color: #fde5ca;
  --button-color: #f97d26;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}
